application/WebServices/OrderWebService/src/wsdl/OrderWebService_1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.8-b13937 svn-revision#13942.--><!--Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.8-b13937 svn-revision#13942.--><definitions targetNamespace="http://hu.neuron" name="OrderWebService" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://hu.neuron" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://hu.neuron" schemaLocation="OrderWebService.xsd"/>
    </xsd:schema>
  </types>
  <message name="modifyOrderByOrderId">
    <part name="parameters" element="tns:modifyOrderByOrderId"/>
  </message>
  <message name="modifyOrderByOrderIdResponse">
    <part name="parameters" element="tns:modifyOrderByOrderIdResponse"/>
  </message>
  <message name="getOrderByOrderId">
    <part name="parameters" element="tns:getOrderByOrderId"/>
  </message>
  <message name="getOrderByOrderIdResponse">
    <part name="parameters" element="tns:getOrderByOrderIdResponse"/>
  </message>
  <message name="getOrderList">
    <part name="parameters" element="tns:getOrderList"/>
  </message>
  <message name="getOrderListResponse">
    <part name="parameters" element="tns:getOrderListResponse"/>
  </message>
  <portType name="OrderWebService">
    <operation name="modifyOrderByOrderId">
      <input wsam:Action="http://hu.neuron/OrderWebService/modifyOrderByOrderIdRequest" message="tns:modifyOrderByOrderId"/>
      <output wsam:Action="http://hu.neuron/OrderWebService/modifyOrderByOrderIdResponse" message="tns:modifyOrderByOrderIdResponse"/>
    </operation>
    <operation name="getOrderByOrderId">
      <input wsam:Action="http://hu.neuron/OrderWebService/getOrderByOrderIdRequest" message="tns:getOrderByOrderId"/>
      <output wsam:Action="http://hu.neuron/OrderWebService/getOrderByOrderIdResponse" message="tns:getOrderByOrderIdResponse"/>
    </operation>
    <operation name="getOrderList">
      <input wsam:Action="http://hu.neuron/OrderWebService/getOrderListRequest" message="tns:getOrderList"/>
      <output wsam:Action="http://hu.neuron/OrderWebService/getOrderListResponse" message="tns:getOrderListResponse"/>
    </operation>
  </portType>
  <binding name="OrderWebServicePortPortBinding" type="tns:OrderWebService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="modifyOrderByOrderId">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getOrderByOrderId">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getOrderList">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="OrderWebService">
    <port name="OrderWebServicePortPort" binding="tns:OrderWebServicePortPortBinding">
      <soap:address location="http://192.168.1.102:7001/OrderWebServiceImpl/OrderWebService"/>
    </port>
  </service>
</definitions>