application/WebServices/OfferWebService/src/wsdl/OfferWebService_1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.8-b13937 svn-revision#13942.--><!--Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.8-b13937 svn-revision#13942.--><definitions targetNamespace="http://hu.neuron" name="OfferWebService" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://hu.neuron" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://hu.neuron" schemaLocation="OfferWebService.xsd"/>
    </xsd:schema>
  </types>
  <message name="getOfferByOfferId">
    <part name="parameters" element="tns:getOfferByOfferId"/>
  </message>
  <message name="getOfferByOfferIdResponse">
    <part name="parameters" element="tns:getOfferByOfferIdResponse"/>
  </message>
  <message name="getOfferList">
    <part name="parameters" element="tns:getOfferList"/>
  </message>
  <message name="getOfferListResponse">
    <part name="parameters" element="tns:getOfferListResponse"/>
  </message>
  <message name="removeOfferByOfferId">
    <part name="parameters" element="tns:removeOfferByOfferId"/>
  </message>
  <message name="removeOfferByOfferIdResponse">
    <part name="parameters" element="tns:removeOfferByOfferIdResponse"/>
  </message>
  <message name="createOffer">
    <part name="parameters" element="tns:createOffer"/>
  </message>
  <message name="createOfferResponse">
    <part name="parameters" element="tns:createOfferResponse"/>
  </message>
  <message name="modifyOfferByOfferId">
    <part name="parameters" element="tns:modifyOfferByOfferId"/>
  </message>
  <message name="modifyOfferByOfferIdResponse">
    <part name="parameters" element="tns:modifyOfferByOfferIdResponse"/>
  </message>
  <portType name="OfferWebService">
    <operation name="getOfferByOfferId">
      <input wsam:Action="http://hu.neuron/OfferWebService/getOfferByOfferIdRequest" message="tns:getOfferByOfferId"/>
      <output wsam:Action="http://hu.neuron/OfferWebService/getOfferByOfferIdResponse" message="tns:getOfferByOfferIdResponse"/>
    </operation>
    <operation name="getOfferList">
      <input wsam:Action="http://hu.neuron/OfferWebService/getOfferListRequest" message="tns:getOfferList"/>
      <output wsam:Action="http://hu.neuron/OfferWebService/getOfferListResponse" message="tns:getOfferListResponse"/>
    </operation>
    <operation name="removeOfferByOfferId">
      <input wsam:Action="http://hu.neuron/OfferWebService/removeOfferByOfferIdRequest" message="tns:removeOfferByOfferId"/>
      <output wsam:Action="http://hu.neuron/OfferWebService/removeOfferByOfferIdResponse" message="tns:removeOfferByOfferIdResponse"/>
    </operation>
    <operation name="createOffer">
      <input wsam:Action="http://hu.neuron/OfferWebService/createOfferRequest" message="tns:createOffer"/>
      <output wsam:Action="http://hu.neuron/OfferWebService/createOfferResponse" message="tns:createOfferResponse"/>
    </operation>
    <operation name="modifyOfferByOfferId">
      <input wsam:Action="http://hu.neuron/OfferWebService/modifyOfferByOfferIdRequest" message="tns:modifyOfferByOfferId"/>
      <output wsam:Action="http://hu.neuron/OfferWebService/modifyOfferByOfferIdResponse" message="tns:modifyOfferByOfferIdResponse"/>
    </operation>
  </portType>
  <binding name="OfferWebServicePortPortBinding" type="tns:OfferWebService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="getOfferByOfferId">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getOfferList">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="removeOfferByOfferId">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="createOffer">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="modifyOfferByOfferId">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="OfferWebService">
    <port name="OfferWebServicePortPort" binding="tns:OfferWebServicePortPortBinding">
      <soap:address location="http://192.168.1.102:7001/OfferWebServiceImpl/OfferWebService"/>
    </port>
  </service>
</definitions>