application/WebServices/IssueMessageWebService/src/wsdl/IssueMessageWebService_1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.8-b13937 svn-revision#13942.--><!--Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.8-b13937 svn-revision#13942.--><definitions targetNamespace="http://hu.neuron" name="IssueMessageWebService" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://hu.neuron" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://hu.neuron" schemaLocation="IssueMessageWebService.xsd"/>
    </xsd:schema>
  </types>
  <message name="createNewIssueThread">
    <part name="parameters" element="tns:createNewIssueThread"/>
  </message>
  <message name="createNewIssueThreadResponse">
    <part name="parameters" element="tns:createNewIssueThreadResponse"/>
  </message>
  <message name="issueMessageListByThreadId">
    <part name="parameters" element="tns:issueMessageListByThreadId"/>
  </message>
  <message name="issueMessageListByThreadIdResponse">
    <part name="parameters" element="tns:issueMessageListByThreadIdResponse"/>
  </message>
  <message name="issueThreadListByClient">
    <part name="parameters" element="tns:issueThreadListByClient"/>
  </message>
  <message name="issueThreadListByClientResponse">
    <part name="parameters" element="tns:issueThreadListByClientResponse"/>
  </message>
  <message name="modifyIssueThreadStatus">
    <part name="parameters" element="tns:modifyIssueThreadStatus"/>
  </message>
  <message name="modifyIssueThreadStatusResponse">
    <part name="parameters" element="tns:modifyIssueThreadStatusResponse"/>
  </message>
  <message name="Exception">
    <part name="fault" element="tns:Exception"/>
  </message>
  <message name="createIssueMessageInThread">
    <part name="parameters" element="tns:createIssueMessageInThread"/>
  </message>
  <message name="createIssueMessageInThreadResponse">
    <part name="parameters" element="tns:createIssueMessageInThreadResponse"/>
  </message>
  <portType name="IssueMessageWebService">
    <operation name="createNewIssueThread">
      <input wsam:Action="http://hu.neuron/IssueMessageWebService/createNewIssueThreadRequest" message="tns:createNewIssueThread"/>
      <output wsam:Action="http://hu.neuron/IssueMessageWebService/createNewIssueThreadResponse" message="tns:createNewIssueThreadResponse"/>
    </operation>
    <operation name="issueMessageListByThreadId">
      <input wsam:Action="http://hu.neuron/IssueMessageWebService/issueMessageListByThreadIdRequest" message="tns:issueMessageListByThreadId"/>
      <output wsam:Action="http://hu.neuron/IssueMessageWebService/issueMessageListByThreadIdResponse" message="tns:issueMessageListByThreadIdResponse"/>
    </operation>
    <operation name="issueThreadListByClient">
      <input wsam:Action="http://hu.neuron/IssueMessageWebService/issueThreadListByClientRequest" message="tns:issueThreadListByClient"/>
      <output wsam:Action="http://hu.neuron/IssueMessageWebService/issueThreadListByClientResponse" message="tns:issueThreadListByClientResponse"/>
    </operation>
    <operation name="modifyIssueThreadStatus">
      <input wsam:Action="http://hu.neuron/IssueMessageWebService/modifyIssueThreadStatusRequest" message="tns:modifyIssueThreadStatus"/>
      <output wsam:Action="http://hu.neuron/IssueMessageWebService/modifyIssueThreadStatusResponse" message="tns:modifyIssueThreadStatusResponse"/>
      <fault message="tns:Exception" name="Exception" wsam:Action="http://hu.neuron/IssueMessageWebService/modifyIssueThreadStatus/Fault/Exception"/>
    </operation>
    <operation name="createIssueMessageInThread">
      <input wsam:Action="http://hu.neuron/IssueMessageWebService/createIssueMessageInThreadRequest" message="tns:createIssueMessageInThread"/>
      <output wsam:Action="http://hu.neuron/IssueMessageWebService/createIssueMessageInThreadResponse" message="tns:createIssueMessageInThreadResponse"/>
    </operation>
  </portType>
  <binding name="IssueMessageWebServicePortPortBinding" type="tns:IssueMessageWebService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="createNewIssueThread">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="issueMessageListByThreadId">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="issueThreadListByClient">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="modifyIssueThreadStatus">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="Exception">
        <soap:fault name="Exception" use="literal"/>
      </fault>
    </operation>
    <operation name="createIssueMessageInThread">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="IssueMessageWebService">
    <port name="IssueMessageWebServicePortPort" binding="tns:IssueMessageWebServicePortPortBinding">
      <soap:address location="http://192.168.1.105:7001/IssueMessageWebServiceImpl/IssueMessageWebService"/>
    </port>
  </service>
</definitions>